{# _namapp/templates/index.html_ #}

{% extends "layout.html" %}
{% block content %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">MASSVIS</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
<!-- 				<li>
					<a class="page-scroll" href="#about">About</a>
				</li> -->

				<li>
					<a class="page-scroll" href="#details">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#papers">Papers</a>
				</li>
				<li>
					<a class="page-scroll" href="#eyetracking">Eye-tracking</a>
				</li>
				<li>
					<a class="page-scroll" href="#team">Team</a>
				</li>
				<li>
					<a class="page-scroll" href="#data">Download</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1><% title %> </h1>
			<hr>
			<h3><% subtitle %></h3>
			<p class="text-faded">
				<% projectDesc %>
				<br><br>
				<% projectSubDesc %>
			</p>
			<!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
		</div>
	</div>
</header>

<!-- <section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading"><% projectTitle %></h2>
				<hr class="light">
				<p class="text-faded"><% projectDesc %></p>
				<p class="text-faded"><% projectSubDesc %></p>
			</div>
		</div>
	</div>
</section> -->
<section class="bg-primary" id="details">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">About</h2>
				<hr class="light">

				<div class="media">
					<div class="media-left">
						<img ng-src="index.fcgi/img/icons/<% item[1] %>" alt="<% item[1] %>"  class="media-object">
					</div>
					<div class="media-body">
						<% item[0] %>
						<!-- <h4 class="media-heading">Media heading</h4> -->
					</div>
				</div>
				<!-- <p class="text-faded"><% projectSubDesc %></p> -->
			</div>
		</div>
	</div>
</section>

<section id="papers">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Journal Papers</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" ng-repeat="paper in journalPapers" style="margin-bottom:15px">
			<div class="col-md-12 text-center">
				<!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
				<div >
					<h3><i class="fa fa-bookmark-o"></i> <%paper.title%></h3>
					<p class="text-muted">
						<%paper.authors%><br>
						<%paper.source%><br>
					</p>
					<div>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.link"></i><a ng-if="paper.link" href="<%paper.link%>"> Paper</a>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.supplement"></i><a ng-if="paper.supplement" href="<%paper.supplement%>"> Supplement</a>
						<i class="fa fa-film fa-lg" ng-if="paper.video"></i><a ng-if="paper.video" href="<%paper.video%>"> Video</a>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.slides"></i><a ng-if="paper.slides" href="<%paper.slides%>"> Slides</a>
						<i class="fa fa-file-code-o fa-lg" ng-if="paper.bibtex"></i><a ng-if="paper.bibtex" href="<%paper.bibtex%>"> Bibtex</a>
						<i class="fa fa-globe fa-lg" ng-if="paper.site"></i><a ng-if="paper.site" href="<%paper.site%>"> Website</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Posters and Workshop Papers</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" ng-repeat="paper in otherPapers" style="margin-bottom:15px">
			<div class="col-md-12 text-center">
				<!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
				<div >
					<h3><i class="fa fa-bookmark-o"></i> <%paper.title%></h3>
					<p class="text-muted">
						<%paper.authors%><br>
						<%paper.source%><br>
					</p>
					<div>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.link"></i><a ng-if="paper.link" href="<%paper.link%>"> Paper</a>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.supplement"></i><a ng-if="paper.supplement" href="<%paper.supplement%>"> Supplement</a>
						<i class="fa fa-film fa-lg" ng-if="paper.video"></i><a ng-if="paper.video" href="<%paper.video%>"> Video</a>
						<i class="fa fa-file-pdf-o fa-lg" ng-if="paper.slides"></i><a ng-if="paper.slides" href="<%paper.slides%>"> Slides</a>
						<i class="fa fa-file-code-o fa-lg" ng-if="paper.bibtex"></i><a ng-if="paper.bibtex" href="<%paper.bibtex%>"> Bibtex</a>
						<i class="fa fa-globe fa-lg" ng-if="paper.site"></i><a ng-if="paper.site" href="<%paper.site%>"> Website</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-primary" id="eyetracking">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading"><% eyeTitle %></h2>
				<hr class="light">
				<p class="text-faded"><% eyeDesc %></p>
				<!-- <p class="text-faded"><% projectSubDesc %></p> -->
			</div>
		</div>
	</div>
</section>

<section class="no-padding" id="team">
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="member in members">
				<a href="<%member.url%>" class="portfolio-box" target="_blank">
					<img ng-src="index.fcgi/img/members/<% member.photo %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-name">
								<%member.name%>
							</div>
							<div class="project-category text-faded">
								<%member.affiliation%>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="data" class="bg-dark">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="section-heading"><% datasetTitle %></h2>
				<hr class="light">
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form>
					<div class="form-group">
						<label class="sr-only" for="requestName">Name</label>
						<input id="name" type="text" class="form-control" id="requestName" placeholder="Name">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Email</label>
						<input id="email" type="email" class="form-control" id="requestEmail" placeholder="Email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Institution</label>
						<input id="inst" type="text" class="form-control" id="requestEmail" placeholder="Institution">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Institution Address</label>
						<input id="inst_addr" type="text" class="form-control" id="requestEmail" placeholder="Institution Address">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Name of Principal Investigator</label>
						<input id="ivgr_name" type="text" class="form-control" id="requestEmail" placeholder="Name of Principal Investigator">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">E-mail of Principal Investigator</label>
						<input id="ivgr_email" type="text" class="form-control" id="requestEmail" placeholder="E-mail of Principal Investigator">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Names of other people in your group who will use this database</label>
						<input id="othr_email" type="text" class="form-control"  placeholder="Names of other people in your group who will use this database">
					</div>
					<div class="form-group">
						<label class="sr-only" for="requestEmail">Reason for database use</label>
						<input id="rqst_resn" type="text" class="form-control"  placeholder="Reason for database use">
					</div>
					<!--  <div class="input-group">
					<span class="input-group-addon">
					<input type="checkbox" aria-label="license">
					</span>
					<input type="text" class="form-control" aria-label="license" disabled ng-value="license">
					</div> -->
					<div>
							<p>
								<input type="checkbox" id="licensechk"> <%license%>
							</p>
							<div class="input-group center-block" style="font-size:16px;">
								<div>Please select the dataset images you would like to receive:</div>
								<ul class="list-inline" aria-multiselectable="true">
									<li ng-repeat="data in datasets">
										<input type="checkbox" id="<% data.name %>"> <% data.name %> <% data.size %>
										<a class="btn btn-primary" style="padding: 0px; background: transparent;" role="button"
											data-toggle="collapse" href="#collapse<%data.name%>"
											aria-expanded="false" aria-controls="collapse<%data.name%>">
											<i class="fa fa-question-circle" class="text-muted"></i>
										</a>
									</li>
								</ul>
							</div>
							<!-- <div id="accordion" aria-multiselectable="true"> -->
								<div class="collapse" id="collapse<%data.name%>" ng-repeat="data in datasets">
									<div class="well text-muted">
										<h4><% data.name %></h4>

										<% data.desc %>
										<div style="display:inline" ng-if="data.bibtex">
											If you use this data, please cite this paper: <i class="fa fa-file-code-o fa-lg" ></i><a href="<%data.bibtex%>"> Bibtex</a>
										</div>

									</div>
								</div>
							<!-- </div> -->
					</div>
					<br>
					<div id="request-error" class="alert alert-warning" style="display:none">
						<strong>Error!</strong> Something went wrong. Please contact 'massviz@mit.edu'.
					</div>
					<div id="request-alert" class="alert alert-warning" style="display:none">
					  <strong>Warning!</strong> Your name and email are required!
					</div>
					<div id="license-alert" class="alert alert-warning" style="display:none">
					  <strong>Warning!</strong> You have to agree to the license!
					</div>
					<div id="data-alert" class="alert alert-warning" style="display:none">
					  <strong>Warning!</strong> You have to check at least one dataset!
					</div>
					<button type="button" class="btn btn-default btn-xl wow tada" ng-click="request()"><i class="fa fa-paper-plane fa-lg"></i> Download </button>
				</form>
				<h4 style="margin-top:20px;"><i class="fa fa-exclamation-circle"></i>
					For meta-data and labels, please visit our github repository <a target="_blank" href="https://github.com/massvis" class="text-danger"><strong>here</strong>.</a>
				</h4>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="section-heading"><% contactTitle %></h2>
				<hr class="primary">
				<p><% contactDesc %></p>
			</div>
			<div class="col-md-12 text-center">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p><a href="mailto:massvis@mit.edu">massvis@mit.edu</a></p>
			</div>
			<div class="col-md-12 text-center">
				<h3>Acknowledgements</h3>
				<p class="text-muted"><% acknowledgement %></p>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download</h4>
      </div>
      <div class="modal-body">
<!--         <h4 >ID: <span id="accessid"> MASSVIS </span></h4>
        <h4 >PW: <span id="accesspw"> </span></h4> -->
        <ul>
        	<li ng-repeat="d in dataLinks">
        		<a href="index.fcgi/data/<% d.link %>?password=<% d.pw %>" target="_blank">Download-<% d.link%></a>
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
