{# _namapp/templates/layout.html_ #}
<!DOCTYPE html>
<html ng-app="namApp" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta property="og:image" content="http://massvis.mit.edu/img/logo-large.png" />
	<meta name="author" content="">
	<meta property="og:title" content="MASSVIS - Massachusetts (Massive) Visualization Dataset" />
	<meta property="og:description" content="Understanding the cognitive and perceptual processing of a visualization is essential for effective data presentation as well as communication to the viewer. To gain deeper insight into what elements of a visualization affect its memorability, recognition, recall, and comprehension, we constructed the MASSVIS Database.  This database, one of the largest to date of real-world visualizations, was constructed by scraping multiple online sources of visualizations from various publication venues including government reports, infographic blogs, news media websites, and scientific journals. The diversity and distribution of these visualizations represent a broad set of data visualizations "in the wild".  In addition to gaining insight into the visual encoding techniques and designs utilized by the different publication venues, this database also serves as a resource for cognitive and perceptual experiments." />

	<title>MASSVIS - Massachusetts (Massive) Visualization Dataset</title>
	<link rel="shortcut icon" href="index.fcgi/img/favicon.png">

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="index.fcgi/css/bootstrap.min.css" type="text/css">

	<!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="index.fcgi/font-awesome/css/font-awesome.min.css" type="text/css">

	<!-- Plugin CSS -->
	<link rel="stylesheet" href="index.fcgi/css/animate.min.css" type="text/css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="index.fcgi/css/creative.css" type="text/css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- bower components js -->
	<!--<script src="/bower_components/underscore/underscore.js"></script>-->
	<!--<script src="/bower_components/semantic-ui/dist/semantic.min.js"></script>-->
	<script src="index.fcgi/bower_components/angular/angular.js"></script>

	<!--js (TODO: replace this with *.min.js for production) -->
	<script src="index.fcgi/js/ng/dist/app.js"></script>
	<script src="index.fcgi/js/ng/dist/controller.js"></script>
	<script src="index.fcgi/js/ng/dist/service.js"></script>
	<script src="index.fcgi/js/ng/dist/directive.js"></script>

	<!-- jQuery -->
	<script src="index.fcgi/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="index.fcgi/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="index.fcgi/js/jquery.easing.min.js"></script>
	<script src="index.fcgi/js/jquery.fittext.js"></script>

	<script src="index.fcgi/js/wow.min.js"></script>


	<!-- Custom Theme JavaScript -->
	<script src="index.fcgi/js/creative.js"></script>

</head>
<body id="page-top" ng-controller="mainCtrl">
	{% block content %}{% endblock %}
</body>
</html>
